/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/04/2019, 11:20:33
    Author     : ALUNO
*/

.glyphicon-pencil {
    color: blue;
}

.glyphicon-trash {
    color: red;
}

.insert_buttom {
    margin-top: 2%;
    margin-bottom: 2%;
}
